@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 18px;
  color: white;
}

header h1 {
  margin-left: 30px;
  user-select: none;
}

ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/images/background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  height: 500px;
}

section {
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 18px;
  text-align: center;
  width: 300px;
}

#api1 {
  color: white;
  background: url(/images/clouds1.png);
}

#api2 {
  color: white;
  background: url(/images/cars2.jpg);
  background-size: cover;
}

#api3 {
  color: white;
  background: url(/images/jokes1.jpg);
  background-size: cover;
}
section h2,
p {
  margin-top: 40px;
}

button {
  margin-top: 30px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 8px;
}

button a {
  text-decoration: none;
  color: white;
}
h2 {
  margin-top: 0;
}
