@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 18px;
  color: white;
}

header h1 {
  margin-left: 30px;
  user-select: none;
}

ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/images/cars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
